.favourites-page {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

.favourites-container {
  padding: 120px 100px; 
}

.favourites-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 100px; 
  text-align: left;
}

.favourites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.favourite-card {

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.favourite-image {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s;
}

.favourite-image:hover {
  transform: scale(1.05);
}

.favourite-name {
  margin-top: 10px;
  font-size: 1.2rem;
}

.remove-button {
  background-color: #F44336; 
  color: white; 
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.remove-button:hover {
  background-color: #D32F2F;
}
